@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

body {
  @apply bg-light-100;
  color: #FF69B4;
  font-family: Arial, sans-serif;
  animation: blink 1s infinite;
}